
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.navbar {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    line-height:1.5rem;
    font-size:1em;
    font-family: sans-serif;
    text-transform: uppercase;
}
.fixed-nav-bar, .left-content, main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;

  }

.container-fluid {
    position: relative;
}

.containe, .left-content {
    min-height: 700px;
}

.left-content {
    display: inline-block;
    width: 180px;
    padding: 0 10px 10px;
    margin-top:110px;
    height:700px;
    margin-left:-12px;
    background-color: rgba(17, 179, 219, 0.15);
   
}



.left-scrollbar {
    position:fixed;
    top: 0;
    margin-top:10px;
    padding-top: 110px;
    padding-bottom: 0;
    height: 600px;
    width: 168px;
    background-color:transparent;
}


.right-content {
    position: absolute;
    right: 0;
    left: 220px;
    top: 125px;
    height: 100%;
}

.main {
    margin-top:80px;
}

#tabpanel {
    margin-top: 10px;
}





.breadcrumb {
    margin-top:-20px;
}
.checked {
    color:orange;
}
#chart {
    height:440px;
}
.number {
    font-weight:bold;
    font-size:30px;
}
.text-image {
    opacity:0.7;
}
.text-image:hover {
    opacity: 1;
}

.bg-img{
    background-image: linear-gradient(27deg,#0177e6 50% ,#004e95 50%);
}

.bg-img .card {
    width:50%;
    align-items:center;
    margin-top:40px;
    margin-left:auto;
    background-color:#003366;
}
.shadow-effect {
    box-shadow: 2px 3px 2px 4px grey;
}
.app-footer {
    padding:30px;

}
#gauge-demo {
    height: 480px;
    width: 100%;
}

#gauge-demo .gauge-element {
    height: 400px;
    width: 30%;
    display: inline-block;
}

#gauge-demo .dx-selectbox {
    margin: 10px auto 0;
    width: 200px;
}

.long-title h3 {
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
#age {
    display: inline-block;
}
